.Rproj.user
.Rhistory
.RData
windows/
inst/gdal
inst/proj
src/Makevars
config.*
inst/doc
autom4te.cache
pkgdown/*
docs/
gdalwmscache
errors.txt
proj_conf_test
proj_conf_test.c
proj_conf_test.cpp
configure*
CRAN-RELEASE
*.gpkg
