# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
sudo: false
cache: packages


dist: trusty

before_install:
  - sudo add-apt-repository ppa:ubuntugis/ubuntugis-unstable --yes
  - sudo apt-get --yes --force-yes update -qq
  - sudo apt-get install -y libproj-dev libgdal-dev

# We use clang, --without-libtool and --with-debug for faster build
compiler:
  - clang


r_github_packages:
  - jimhester/covr


after_success:
  - Rscript -e 'covr::codecov()'
